<section id="slider" class="w-full rounded-lg border">
  <header class="border-b px-4 py-3">
    <h2 class="text-sm font-medium">Slider</h2>
  </header>
  <div class="p-4">
    <input type="range" class="input w-full" min="0" max="100" value="50">
  </div>
</section>