{% macro popover(
  id=None,
  trigger=None,
  main_attrs=None,
  trigger_attrs=None,
  content_attrs=None
) %}
{% if registerComponent('popover') %}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('popover', () => ({
      open: false,

      $trigger: {
        '@click'() { this.open = !this.open },
        '@keydown.escape.prevent'() {
          this.open = false;
          this.$refs.trigger.focus();
        },
        ':aria-expanded'() { return this.open },
        'x-ref': 'trigger'
      },
      $content: {
        '@click'(e) { this.handleMenuitemClick(e) },
        '@keydown.escape.prevent'() {
          this.open = false;
          this.$refs.trigger.focus();
        },
        ':aria-hidden'() { return !this.open },
        'x-cloak': ''
      },
    }));
  });
</script>
{% endif %}

<div
  class="popover {% if main_attrs %}{{ main_attrs.pop('class', '') }}{% endif %}"
  x-data="popover"
  @click.away="open = false"
  {% if id %}id="{{ id }}"{% endif %}
  {% for key, value in main_attrs %}
    {{ key }}="{{ value }}"
  {% endfor %}
>
  {% if trigger %}
  <button
    type="button"
    aria-haspopup="menu"
    aria-expanded="false"
    x-bind="$trigger"
    {% if id %}
    id="{{ id }}-trigger"
    aria-controls="{{ id }}-menu"
    {% endif %}
    {% for key, value in trigger_attrs %}
      {{ key }}="{{ value }}"
    {% endfor %}
  >
    {{ trigger | safe }}
  </button>
  {% endif %}
  <div
    data-popover
    aria-hidden="true"
    x-bind="$content"
    {% if id %}id="{{ id }}-menu"{% endif %}
    {% for key, value in content_attrs %}
      {{ key }}="{{ value }}"
    {% endfor %}
  >
    {% if caller %}{{ caller() }}{% endif %}
  </div>
</div>
{% endmacro %}
