---
layout: layouts/page.njk
title: Installation
description: How to install Basecoat in your app.
---

<h2 id="jinja-and-nunjucks"><a href="#jinja-and-nunjucks">CSS vs. Tailwind</a></h2>

<h2 id="htmx"><a href="#htmx">HTML &amp; Javascript</a></h2>

<h2 id="jinja-and-nunjucks"><a href="#jinja-and-nunjucks">Jinja and Nunjucks</a></h2>
