{% from "../../_includes/components/toast.njk" import toaster %}
{% set toasts = [{
  category: "warning",
  title: "Event start time cannot be earlier than 8am"
}] %}
{{ toaster(toasts=toasts, is_fragment=true) }}