<!DOCTYPE html>
<html>
<head>
  <!-- Theme -->
  <script>
  function isDark() {
    return localStorage.getItem('darkMode') === 'dark' || (!localStorage.getItem('darkMode') && window.matchMedia('(prefers-color-scheme: dark)').matches);
  }

  if (isDark()) {
    document.documentElement.classList.add('dark');
  }

  if (localStorage.getItem('themeVariant')) {
    document.documentElement.classList.add(`theme-${localStorage.getItem('themeVariant')}`);
  }

  document.addEventListener('alpine:init', () => {
    Alpine.store('darkMode', {
      isDark: isDark(),
      toggle() {
        this.isDark = document.documentElement.classList.toggle('dark');
        localStorage.setItem('darkMode', this.isDark ? 'dark' : 'light');
      }
    });

    Alpine.store('themeVariant', {
      name: localStorage.getItem('themeVariant'),
      setThemeVariant(name) {
        this.name = name;
        localStorage.setItem('themeVariant', name);
        document.documentElement.classList.forEach(className => {
          if (className.startsWith('theme-')) {
            document.documentElement.classList.remove(className);
          }
        });
        document.documentElement.classList.add(`theme-${name}`);
      }
    });
  });
  </script>

  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title & Description -->
  {% set meta_title = title ~ ' | ' ~ site.title  if title else site.title %}
  {% set meta_description = description or site.description %}
  <title>{{ meta_title }}</title>
  <meta name="description" content="{{ meta_description }}"/>
  <meta name="title" content="{{ meta_title }}">
  {% if site.keywords %}<meta name="keywords" content="{{ site.keywords | join(',') }}" />{% endif %}

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">

   <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{{ meta_title }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta property="og:image" content="{{ site.url }}/assets/social-screenshot.png">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:author" content="{{ site.author.name }}">

  <!-- X/Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{{ title if title else site.title }}">
  <meta name="twitter:description" content="{{ meta_description }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/social-screenshot.png">
  <meta name="twitter:creator" content="{{ site.author.x }}">

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/styles.css">

  <!-- JS -->
  <script src="/assets/js/toast.js" defer></script>

  <script src="/assets/js/select.js" defer></script>
  <script src="/assets/js/sidebar.js" defer></script>
  <script src="/assets/js/tabs.js" defer></script>
  
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/django.min.js"></script>
  <script>
    const applyHighlighting = () => { if (window.hljs) hljs.highlightAll(); };

    if (!window._hljsInitialized) {
      window._hljsInitialized = true;
      document.addEventListener('DOMContentLoaded', applyHighlighting);
      document.addEventListener('htmx:afterSwap', applyHighlighting);
    }
  </script>
  
  {% if head %}{{ head | safe }}{% endif %}
</head>
<body>
{{ content | safe }}

{% from "toast.njk" import toaster %}
{{ toaster() }}
</body>
</html>