{% from "components/dropdown-menu.njk" import dropdown_menu %}

<section id="dropdown-menu" class="w-full rounded-lg border scroll-mt-16">
  <header class="border-b px-4 py-3">
    <h2 class="text-sm font-medium">Dropdown Menu</h2>
  </header>
  <div class="p-4">
    <div class="flex flex-wrap items-start gap-4">
      {% call dropdown_menu(
        id="dropdown-menu",
        trigger="Open",
        trigger_attrs={"class": "btn-outline"},
        content_attrs={"class": "min-w-56"}
      ) %}
        <div role="group" aria-labelledby="account-options">
          <span id="account-options" role="heading">My Account</span>
          <button type="button" role="menuitem">
            Profile
            <span class="text-muted-foreground ml-auto text-xs tracking-widest">⇧⌘P</span>
          </button>
          <button type="button" role="menuitem">
            Billing
            <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘B</span>
          </button>
          <button type="button" role="menuitem">
            Settings
            <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘S</span>
          </button>
          <button type="button" role="menuitem">
            Keyboard shortcuts
            <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘K</span>
          </button>
        </div>
        <hr role="separator">
        <button type="button" role="menuitem">GitHub</button>
        <button type="button" role="menuitem">Support</button>
        <button type="button" role="menuitem" disabled>API</button>
        <hr role="separator">
        <button type="button" role="menuitem">
          Logout
          <span class="text-muted-foreground ml-auto text-xs tracking-widest">⇧⌘P</span>
        </button>
      {% endcall %}

      {% call dropdown_menu(
        id="dropdown-menu-checkboxes",
        trigger="Checkboxes",
        trigger_attrs={"class": "btn-outline"},
        content_attrs={"class": "min-w-56"},
        register_on=["alpine:init", "htmx:afterSwap"]
      ) %}
      <div role="group" aria-labelledby="account-options">
        <span id="account-options" role="heading">Account Options</span>
        <button type="button" role="menuitem">
          {% lucide "user" %}
          Profile
          <span class="text-muted-foreground ml-auto text-xs tracking-widest">⇧⌘P</span>
        </button>
        <button type="button" role="menuitem">
          {% lucide "credit-card" %}
          Billing
          <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘B</span>
        </button>
        <button type="button" role="menuitem">
          {% lucide "settings" %}
          Settings
          <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘S</span>
        </button>
      </div>
      <hr role="separator">
      <div role="group" aria-labelledby="appearance-options">
        <span id="appearance-options" role="heading">Appearance</span>
        <button
          type="button"
          role="menuitemcheckbox"
          aria-checked="true"
          class="group"
          x-data="{ checked: true }"
          @click="checked = !checked"
          :aria-checked="checked"
        >
          {% lucide "check", {
            "class": "invisible group-aria-checked:visible",
            "aria-hidden": "true",
            "focusable": "false"
          } %}
          Status Bar
          <span class="text-muted-foreground ml-auto text-xs tracking-widest">⇧⌘P</span>
        </button>
        <button
          type="button"
          role="menuitemcheckbox"
          aria-checked="false"
          class="group"
          disabled
          x-data="{ checked: false }"
          @click="checked = !checked"
          :aria-checked="checked"
        >
          {% lucide "check", {
            "class": "invisible group-aria-checked:visible",
            "aria-hidden": "true",
            "focusable": "false"
          } %}
          Activity Bar
          <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘B</span>
        </button>
        <button
          type="button"
          role="menuitemcheckbox"
          aria-checked="false"
          class="group"
          x-data="{ checked: false }"
          @click="checked = !checked"
          :aria-checked="checked"
        >
          {% lucide "check", {
            "class": "invisible group-aria-checked:visible",
            "aria-hidden": "true",
            "focusable": "false"
          } %}
          Panel
          <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘S</span>
        </button>
      </div>
      <hr role="separator">
      <button type="button" role="menuitem">
        {% lucide "log-out" %}
        Logout
        <span class="text-muted-foreground ml-auto text-xs tracking-widest">⇧⌘P</span>
      </button>
      {% endcall %}



      {% set profile_menu %}
        <div class="flex items-center gap-2 px-1 py-1.5 text-left text-sm">
          <img alt="@hunvreus" src="https://github.com/hunvreus.png" class="size-8 shrink-0 rounded-full" alt="Ronan Berder"/>
          <div class="grid flex-1 text-left text-sm leading-tight">
            <span class="truncate font-medium">hunvreus</span>
            <span class="text-muted-foreground truncate text-xs">hunvreus@example.com</span>
          </div>
        </div>
        <hr role="separator">
        <button type="button" role="menuitem">
          {% lucide "star" %}
          Upgrade to Pro
        </button>
        <hr role="separator">
        <button type="button" role="menuitem">
          {% lucide "user" %}
          Account
        </button>
        <button type="button" role="menuitem">
          {% lucide "credit-card" %}
          Billing
        </button>
        <button type="button" role="menuitem">
          {% lucide "bell" %}
          Notifications
        </button>
        <hr role="separator">
        <button type="button" role="menuitem">
          {% lucide "log-out" %}
          Signout
        </button>
      {% endset %}

      {% call dropdown_menu(
        id="dropdown-menu-radio-group",
        trigger="Radio Group",
        trigger_attrs={"class": "btn-outline"},
        content_attrs={"class": "min-w-56"},
        register_on=["alpine:init", "htmx:afterSwap"]
      ) %}
      <div role="group" aria-labelledby="position-options" x-data="{ checked: 'bottom' }">
        <span id="position-options" role="heading">Panel Position</span>
        <hr role="separator">
        <button
          type="button"
          role="menuitemradio"
          aria-checked="false"
          class="group"
          @click="checked = 'top'"
          :aria-checked="checked == 'top'"
        >
          <div class="size-4 flex items-center justify-center">
            <div
              class="size-2 rounded-full bg-foreground invisible group-aria-checked:visible"
              aria-hidden="true",
              focusable="false"
            ></div>
          </div>
          Status Bar
          <span class="text-muted-foreground ml-auto text-xs tracking-widest">⇧⌘P</span>
        </button>
        <button
          type="button"
          role="menuitemradio"
          aria-checked="false"
          class="group"
          @click="checked = 'bottom'"
          :aria-checked="checked == 'bottom'"
        >
          <div class="size-4 flex items-center justify-center">
            <div
              class="size-2 rounded-full bg-foreground invisible group-aria-checked:visible"
              aria-hidden="true",
              focusable="false"
            ></div>
          </div>
          Activity Bar
          <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘B</span>
        </button>
        <button
          type="button"
          role="menuitemradio"
          aria-checked="false"
          class="group"
          @click="checked = 'right'"
          :aria-checked="checked == 'right'"
        >
          <div class="size-4 flex items-center justify-center">
            <div
              class="size-2 rounded-full bg-foreground invisible group-aria-checked:visible"
              aria-hidden="true",
              focusable="false"
            ></div>
          </div>
          Panel
          <span class="text-muted-foreground ml-auto text-xs tracking-widest">⌘S</span>
        </button>
      </div>
      {% endcall %}

      {% set trigger %}
        <img alt="@hunvreus" src="https://github.com/hunvreus.png" class="size-8 shrink-0 rounded-full" alt="Ronan Berder"/>
        <div class="grid flex-1 text-left text-sm leading-tight">
          <span class="truncate font-medium">hunvreus</span>
          <span class="text-muted-foreground truncate text-xs">hunvreus@example.com</span>
        </div>
        {% lucide "chevrons-up-down", { "class": "text-muted-foreground ml-auto" } %}
      {% endset %}
      {% call dropdown_menu(
        id="dropdown-checkboxes",
        trigger=trigger,
        trigger_attrs={"class": "btn-outline h-12 justify-start px-2 md:max-w-[200px]"}
      ) %}
        {{ profile_menu | safe }}
      {% endcall %}

      {% set trigger %}
        <img alt="@hunvreus" src="https://github.com/hunvreus.png" class="size-8 shrink-0 rounded-full" alt="Ronan Berder"/>
      {% endset %}
      {% call dropdown_menu(
        id="dropdown-checkboxes",
        trigger=trigger,
        trigger_attrs={"class": "btn-icon-ghost rounded-full size-8"}
      ) %}
        {{ profile_menu | safe }}
      {% endcall %}

      {% set trigger %}
        {% lucide "ellipsis" %}
      {% endset %}
      {% call dropdown_menu(
        id="dropdown-checkboxes",
        trigger=trigger,
        trigger_attrs={"class": "btn-icon-ghost"},
        content_attrs={"class": "min-w-32"}
      ) %}
        <button type="button" role="menuitem">
          {% lucide "pencil" %}
          Edit
        </button>
        <button type="button" role="menuitem">
          {% lucide "share" %}
          Share
        </button>
        <hr role="separator">
        <button type="button" role="menuitem" class="text-destructive hover:bg-destructive/10 dark:hover:bg-destructive/20 focus:bg-destructive/10 dark:focus:bg-destructive/20 focus:text-destructive [&_svg]:!text-destructive">
          {% lucide "trash-2" %}
          Delete
        </button>
      {% endcall %}
    </div>
  </div>
</section>