---
const { site } = Astro.props;
const logo = site.logo?.svg || '';
---

<a href="/" class="btn-ghost h-12 w-full justify-start p-2">
  <div class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg">
    {logo && <Fragment set:html={logo} />}
  </div>
  <div class="grid flex-1 text-left text-sm leading-tight">
    <span class="truncate font-semibold">{site.title}</span>
    {site.subtitle && <span class="truncate text-xs text-muted-foreground">{site.subtitle}</span>}
  </div>
</a>
