---
layout: layouts/base.njk
---



<div id="my-popover" open popover="manual">
  SOMETHING
  SOMETHING
  SOMETHING
  SOMETHING
  SOMETHING
</div>

<button popovertarget="my-popover">
  TOGGLE SIDEBAR
</button>