@import "../docs/css/fonts.css";
@import "../docs/css/themes/claude.css";
@import "../docs/css/themes/doom-64.css";
@import "../docs/css/themes/supabase.css";

:root {
  --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.preview {
  @apply flex min-h-[350px] w-full items-center justify-center p-10;
}

.prose {
  > .relative.my-6 {
    @apply my-6;
  }

  pre.scrollbar {
    @apply grid max-h-[650px] overflow-y-auto rounded-lg bg-muted/40 text-sm;
  }

  pre.scrollbar > code {
    @apply block rounded-[inherit] bg-transparent p-3.5 font-mono;
  }
}

.htmx-indicator {
  @apply invisible opacity-0 transition-discrete transition-all;
}
.htmx-indicator:not(.htmx-request) {
  @apply hidden;
}
.htmx-request,
.htmx-request.htmx-indicator {
  @apply visible opacity-100;
}
